# Dataframes and data handling

Dataframes are tabular data structures with labeled axes (rows and columns; like in excel). These data structures are commonly used in data science using software libraries such as Pandas and R dataframe (a reminder for those familiar with R).

Here we will use [pandas](https://pandas.pydata.org/) 

First we will import two libraries: `pandas` and `random`

In [10]:
import pandas as pd
import random

First lets define a simple example dataframe with ten rows and two colums with random variables.

In [11]:
num_rows = 10
random_data_integer = [random.randint(0, 100) for i in range(num_rows)]
random_data_float = [random.uniform(0, 100) for i in range(num_rows)]

Then we create a **dictionary** (datastructure that represents a collection of variables of any type) with the two lists of data.

In [13]:
data = {'Random Integer': random_data_integer, 'Random Float': random_data_float}
data

{'Random Integer': [77, 44, 10, 77, 13, 20, 35, 51, 39, 98],
 'Random Float': [85.74017310921226,
  26.0414717930437,
  63.436643924041725,
  38.07415615253961,
  49.2523862521741,
  87.95991557716465,
  63.21292239203245,
  33.440939461088284,
  85.39202641040258,
  17.01218431241439]}

In the dictionary we now have two lists of numbers. 

With the `DataFrame` function from pandas (here integrated with the abbriviation of `pd`) we can convert the dictionary in a dataframe

In [14]:
df = pd.DataFrame(data)
df

   Random Integer  Random Float
0              77     85.740173
1              44     26.041472
2              10     63.436644
3              77     38.074156
4              13     49.252386
5              20     87.959916
6              35     63.212922
7              51     33.440939
8              39     85.392026
9              98     17.012184

In the output here we can now see the tabular structure of the dataframe

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Integer  10 non-null     int64
 1   Random Float    10 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 288.0 bytes

In [9]:
df.corr()

                Random Integer  Random Float
Random Integer        1.000000     -0.310434
Random Float         -0.310434      1.000000

In [3]:
df.to_csv("data.csv", index=False)

In [4]:

# Read the CSV file into a DataFrame
df = pd.read_csv("data.csv")

# Print the DataFrame
print(df)

   Random Integer  Random Float
0              61     37.436837
1              37     58.846902
2               5     36.912791
3              37     35.673879
4               0     17.505789
5              95     97.881172
6              96     61.592589
7              40     45.030240
8              77     17.454122
9              31     65.666525